<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<form  >
    <div class="container">
    <div class="row">
        <p></p>
        <div class="form-group col" style="font-size:16px">
            <input type="button" value="+ Upload" (click)="Upload()"  style="color:#FFA900;width:120px;height:40px;" >&nbsp;&nbsp;&nbsp;
            <input type="button" value="+ Link"   style="color:#FFA900;width:120px;height:40px;" >&nbsp;&nbsp;&nbsp;
            <input type="button" value="+ Enter"   style="color:#FFA900;width:120px;height:40px;" >&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row" >
                <aside class="col-sm-4">
                    <article class="card"  >
                        <div class="card-body" style="background-color:#B2E0FF;font-size:20px">
         
                          Sensitive
                        </div>
                        <p>Asset1</p>
                        <p>Asset2</p>
                        <p>Asset3</p>
                        
                    </article>
                </aside>
                <aside class="col-sm-4">
                    <article class="card" >
                        <div class="card-body" style="background-color:#B0FBD8;font-size:20px">
                            
                        Private
                            
                        </div>
                        <p>Asset1</p>
                        <p>Asset2</p>
                        <p>Asset3</p>
                        <p>Asset4</p>
                        <p>Asset5</p>
                    </article>
                </aside>
                <aside class="col-sm-4">
                    <article class="card" >
                        <div class="card-body" style="background-color:#F7F4AE;font-size:20px">
                            
                        Public
                        </div>  
                        <p>Asset1</p>
                        <p>Asset2</p>
                        <p>Asset3</p>
                        <p>Asset4</p>
                        <p>Asset5</p>
                        <p>Asset6</p>
                        <p>Asset7</p>
                            
                    </article>
                </aside>
        
        </div>
        </div>
    </form>





