<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="background-color: coral">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#" routerLink="persinfo"  routerLinkActive="active" default>Personal Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="profile"  routerLinkActive="active">Public Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="profset" routerLinkActive="active">Profile Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="security" routerLinkActive="active">Security Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="asset" routerLinkActive="active">Data Asset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="cot" routerLinkActive="active">Circle Of Trust</a>
        </li>
      </ul>
    </div>
  </nav>
</body>
<router-outlet></router-outlet>