<body style="position: static; height: 100%;">
    <div class="container-1">
        <h2 style="width: 1100px; padding-top: 96px; padding-left: 78px; right: 141px; font-size:40pt;">YOUR DIGITAL ASSETS, COMPLETELY UNDER YOUR CONTROL. EXPECT MORE!</h2>
        <p style="width: 772px; padding-top: 35px; padding-left: 78px; right: 141px; font-size:20pt;">Best-in-class, compliant document portal software. With Hanbhee, you can deliver a modern document exchange experience on mobile and web, for your clients, staff, vendors, and partners.</p>
        <a routerLink="createacc" routerLinkActive="active" style="color: rgb(8, 8, 8)"> 
           <p style="width: 300px; padding-top: 50px; padding-left: 78px; font-size:20pt;">Get Started -></p>
        </a>
    </div>
    <div class="container-2">
        <div class="container-fluid" style="border-radius: 15px;width: 316px; height: 200px;background-color: white;position: absolute; padding: 20px;margin-top: 188px;margin-left: 40px;">
            <p><b>Configurable and controlled</b></p>
            <p>Personalize your portal experience to reflect your brand. Manage your document-centric processes from end-to-end.</p>
        </div>
        <div class="container-fluid" style="border-radius: 15px;width: 316px; height: 200px;background-color: white;position:absolute; padding:20px;margin-top: 188px;margin-left: 380px;">
            <p><b>Bank-grade security</b></p>
            <p>Moxtra’s platform was built in partnership with the world’s leading financial institutions, ensuring rigorous security and compliance.</p>
        </div>
        <div class="container-fluid" style="border-radius: 15px;width: 316px; height: 200px;background-color: white;position:absolute; padding:20px;margin-top: 188px;margin-left: 720px;">
            <p><b>Review and approval workflows</b></p>
            <p>Automate document-centric processes and accelerate approval cycles with Moxtra workflow builder.</p>
        </div>
        <div class="container-fluid" style="border-radius: 15px;width: 316px; height: 200px;background-color: white;position:absolute; padding:20px;margin-top: 188px;margin-left: 1060px;">
            <p><b>Review and approval workflows</b></p>
            <p>Automate document-centric processes and accelerate approval cycles with Moxtra workflow builder.</p>
        </div>
        <div class="container-fluid" style="border-radius: 15px;width: 652px;height:300px;background-image: url(https://i.ibb.co/W6Z12Lj/771285.jpg);position:absolute;padding-left: 20px;margin-top: 450px;margin-left:40px;">
            <p style="width: 200px;padding-left: 21px;padding-top: 40px; font-size: 14pt;color: rgb(247, 247, 247);"><b>Streamline your document processes</b></p>
            <p style="width: 300px;padding-left: 21px; font-size: 12pt;color: rgb(14, 13, 13);"><b>Set triggers for clients and staff to take action on. Customize and automate your document-centric processes to drive efficiency.</b></p>
        </div>
        <div class="container-fluid" style="border-radius: 15px;width: 652px;height:300px;background-image: url(https://i.ibb.co/vYxCkGW/74166.jpg);position:absolute;padding-left: 20px;margin-top: 450px;margin-left:720px;">
            <p style="width: 200px;padding-left: 21px;padding-top: 40px; font-size: 14pt;color: white;">Customize your portal experience</p>
            <p style="width: 300px;padding-left: 21px; font-size: 12pt;color: white;">Personalize your document portal experience with a business content library, your brand imagery, and robust deployment options — all delivered under your brand.</p>
        </div>
    </div>
    <div class="container-fluid" style="height: 250px;background-color: #FFF3D0;">
    <h1 style="padding-left: 380px;padding-top: 60px;font-size: 40pt;">Start Syncing All Your Files Today</h1>
    </div>
    <footer>
        <div class="footer-part1">
            <p style="height: 160px;width: 606px;text-align: right;font-size: 50px;margin-left: 80px;margin-right: 40px;margin-top: 70px;"><b>ADVANCING THE <br> WAY THE WORLD <br> SECURE, INTERACTIVE</b></p>
            <hr style="width: 7px;height: 350px;margin-top: 70px;border-left: 2px solid black;"> 
            <div style="margin-right: 20px;">
            <p style="height: 160px;width: 140px;text-align: left;font-size: 26px;margin-left: 40px;margin-right: 40px;margin-top: 70px;">Let’s Start a <b>Conversation</b></p>
            <p style="height: 160px;width: 400px;text-align: left;font-size: 20px;margin-left: 40px;margin-right: 40px;margin-top: -70px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p style="height: 160px;width: 340px;text-align: left;font-size: 26px;margin-left: 40px;margin-right: 40px;margin-top: -90px;">EMAIL US</p>
            <p style="height: 160px;width: 340px;text-align: left;font-size: 22px;margin-left: 40px;margin-right: 40px;margin-top: -140px;color: red;">hanbhee@hanbhee.com</p>
            <p style="height: 160px;width: 340px;text-align: left;font-size: 26px;margin-left: 40px;margin-right: 40px;margin-top: -130px;">CALL US</p>
            <p style="height: 160px;width: 340px;text-align: left;font-size: 22px;margin-left: 40px;margin-right: 40px;margin-top: -140px;color: red;">+1 800.111.2222</p>
            </div>
            <hr style="width: 7px;height: 350px;margin-top: 70px;border-left: 2px solid black;"> 
            <div>
                <p style="height: 160px;width: 140px;text-align: left;font-size: 26px;margin-left: 50px;margin-right: 40px;margin-top: 70px;">Need <b>Support</b></p>
                <p style="height: 160px;width: 400px;text-align: left;font-size: 20px;margin-left: 50px;margin-right: 40px;margin-top: -80px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a routerLink="createacc" routerLinkActive="active" style="color: rgb(8, 8, 8)"> 
                    <button style="width: 200px; padding-top: 15px; padding-left: 24px;margin-left: 50px;margin-top: -200px;padding-right: 24px;padding-bottom: 11px;font-size:15pt;">Get Started</button>
                 </a>
            </div>
        </div>
        <div class="footer-part2">
        <p>Copyright © 2022 Hanbhee. All rights reserved. Privacy Policy Terms of Service</p>
        </div>
    </footer>
    </body>
    
    