.container-1{
    width:auto;
    height: 600px;
   background-image: url("https://i.ibb.co/P9Jw34c/cropped-2300-600-305969.png");
   background-repeat: no-repeat;
   /*background-color: #FFFBE9; */
    background-size:2300px 600px;
    overflow: hidden;
}
.container-2{
    width:auto;
    height:900px;
    background-color: #dbc562;
    position: relative;
    overflow: hidden;
}
.footer-part1{
    overflow: hidden;
    height: 580px;
    width: 100%;
    background-color: #FFC800;
    display: flex;
}

.footer-part2 {
    overflow:hidden;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    background: #280321 0% 0% no-repeat padding-box;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }