<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  </head>
 <div class="container">
<button type="button" class="btn btn-secondary btn-lg btn-block" style="text-align: left;background-color:red;" disabled>Actions</button>
<br>

<div class="row">
    <div class="col-sm-11 ml-5" style="background-color: #B0FBD8;"><br>
        <div class="border" style="background-color: oldlace;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: oldlace;"><i class="fas fa-edit"></i></span> &nbsp;&nbsp;
                    <div class="col-sm-8 ">
                        <label  style="color:blue;">Hemanth Sunkara</label>
                    </div>
                <span class="input-group-text" style="background-color: oldlace;text-align: right;"><i class="fas fa-clock"></i></span>&nbsp;&nbsp;
                <input type="text" value="00" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;D&nbsp;&nbsp;
                <input type="text" value="11" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;H&nbsp;&nbsp;
                <input type="text" value="03" style="color: orange;width: 30px;height: 30px;" disabled>&nbsp;M&nbsp;&nbsp;
            </div>
        </div><br>
        
        <div class="row">
            <div class="col">
                <label style="background-color: oldlace;width: 210px;height: 70px;">Asset1<br>
                    Mode Of Communication-Email<br>
                    DigitalId-4456</label>
            </div>
            <div class="col">
                <label style="background-color: oldlace;width: 250px;height: 70px; ">Last 2 months Activity for Asset1<br>
                    Viewed on 06-04-2021 11:40PM<br>
                    Copied on 02-05-2021 08:40PM</label>
            </div>
            <div class="col-6">
                <label style="background-color: oldlace;width:450px">Requested for additional details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Accept" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > <br>
                    Extend 2 more weeks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Reject" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > 
                    <p></p>
                    
                  </label>
            </div>
        </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-11 ml-5" style="background-color: #F7F4AE"><br>
        <div class="border" style="background-color: oldlace;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: oldlace;"><i class="fas fa-edit"></i></span> &nbsp;&nbsp;
                    <div class="col-sm-8 ">
                        <label  style="color:blue;">Dileep Chintam</label>
                    </div>
                <span class="input-group-text" style="background-color: oldlace;text-align: right;"><i class="fas fa-clock"></i></span>&nbsp;&nbsp;
                <input type="text" value="00" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;D&nbsp;&nbsp;
                <input type="text" value="11" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;H&nbsp;&nbsp;
                <input type="text" value="03" style="color: orange;width: 30px;height: 30px;" disabled>&nbsp;M&nbsp;&nbsp;
            </div>
        </div><br>
        
        <div class="row">
            <div class="col">
                <label style="background-color: oldlace;width: 210px;height: 70px;">Asset3<br>
                    Mode Of Communication-Email<br>
                    DigitalId-4252</label>
            </div>
            <div class="col">
                <label style="background-color: oldlace;width: 250px;height: 70px; ">Last 2 months Activity for Asset3<br>
                    Viewed on 06-04-2021 11:40PM<br>
                    Copied on 02-05-2021 08:40PM</label>
            </div>
            <div class="col-6">
                <label style="background-color: oldlace;width:450px">Requested for additional details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Accept" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > <br>
                    Extend 2 more weeks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Reject" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > 
                    <p></p>
                    
                  </label>
            </div>
        </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-11 ml-5" style="background-color: #B2E0FF"><br>
        <div class="border" style="background-color: oldlace;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: oldlace;"><i class="fas fa-edit"></i></span> &nbsp;&nbsp;
                    <div class="col-sm-8 ">
                        <label  style="color:blue;">Sasi Sunkara</label>
                    </div>
                <span class="input-group-text" style="background-color: oldlace;text-align: right;"><i class="fas fa-clock"></i></span>&nbsp;&nbsp;
                <input type="text" value="00" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;D&nbsp;&nbsp;
                <input type="text" value="11" style="color: orange;width: 30px; height: 30px;" disabled>&nbsp;H&nbsp;&nbsp;
                <input type="text" value="03" style="color: orange;width: 30px;height: 30px;" disabled>&nbsp;M&nbsp;&nbsp;
            </div>
        </div><br>
        
        <div class="row">
            <div class="col">
                <label style="background-color: oldlace;width: 210px;height: 70px;">Asset6<br>
                    Mode Of Communication-Email<br>
                    DigitalId-3566</label>
            </div>
            <div class="col">
                <label style="background-color: oldlace;width: 250px;height: 70px; ">Last 2 months Activity for Asset6<br>
                    Viewed on 06-04-2021 11:40PM<br>
                    Copied on 02-05-2021 08:40PM</label>
            </div>
            <div class="col-6">
                <label style="background-color: oldlace;width:450px">Requested for additional details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Accept" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > <br>
                    Extend 2 more weeks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Reject" class="btn btn-small border border-warning"  style="background-color:ghostwhite;color: orange;width: 100px;height: 30px;font-style:initial;" > 
                    <p></p>
                    
                  </label>
            </div>
        </div>
    </div>
  </div><br>
  
  
  
 
  
  
</div>

<footer class="footer">
    <p>Copyright © 2022 Hanbhee. All rights reserved. Privacy Policy Terms of Service</p>
</footer>


